# Python virtual environment
backend/venv/

# Node modules
frontend/node_modules/

# Python cache
__pycache__/
*.py[cod]

# Local History
.history/

# Environment files
.env
.env.*

# Uploaded repositories
backend/uploaded_repo/
backend/repository.zip

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db